# Import Library

In [1]:
#import requests #library to send HTTP requests
import time #library to set waiting time 
from selenium import webdriver #for automating web browser
from bs4 import BeautifulSoup #for parsing HTML
import pandas as pd #library for data manipulation and analysis
from selenium.webdriver.support.ui import WebDriverWait #to define wait conditions in Selenium
from selenium.webdriver.support import expected_conditions as EC #Provides a set of predefined conditions for explicit waits.
from selenium.webdriver.common.by import By #Allows selection of HTML elements using various attributes

# Scrapping

## Data Extract

In [2]:
# outer box : <div class="css-5wh65g"
# name of product : <span class="_0T8-iGxMpV6NEsYEhwkqEg==">Seblak Instan Premium Bangsatria</span>
# price : <div class="_67d6E1xDKIzw+i2D2L0tjw== ">Rp21.000</div>
# seller : <span class="T0rpy-LEwYNQifsgB-3SQw== pC8DMVkBZGW7-egObcWMFQ== flip">Foodstocks</span>
# city : <span class="pC8DMVkBZGW7-egObcWMFQ== flip">Jakarta Selatan</span>
# sold : <span class="se8WAnkjbVXZNA8mT+Veuw==">100+ terjual</span>
# rating : <span class="_9jWGz3C-GX7Myq-32zWG9w==">5.0</span>

In [3]:
#container
product = []
price   = []
seller  = []
city    = []
sold    = []
rating  = []

#running driver
driver = webdriver.Chrome() #initialize the Chrome webdriver
for page in range(1,15):    #define range of page will be scrapped
        driver.get(f'https://www.tokopedia.com/search?navsource=&page={page}&q=seblak%20instan&search_id=202501281605537D715104E2EFC915BQA6&srp_component_id=02.01.00.00&srp_page_id=&srp_page_title=&st=')  #Replace the page number in the URL template
        driver.maximize_window() # maximize the browser window
        scheight = .1 #initialize the scroll height
        #scroll through the page to load all content
        while scheight < 9.9: 
                driver.execute_script("window.scrollTo(0, document.body.scrollHeight/%s);" % scheight)
                scheight += .005
        html = driver.page_source   #get the HTML source of the page
        soup = BeautifulSoup(html, 'html.parser') #parse the HTML using BeautifulSoup

#scrapping data
        for data in soup.find_all('div', {'class':'css-5wh65g'}): #outer box html
                try:
                        product.append(data.find('span', {'class':'_0T8-iGxMpV6NEsYEhwkqEg=='}).get_text()) #retrieve name of the product from the website
                except:
                        product.append(None) #fill 'None' if name of product is not attached
                try:
                        price.append(data.find('div', {'class':'_67d6E1xDKIzw+i2D2L0tjw=='}).get_text()) #retrieve data price from the website
                except:
                        price.append(None) 
                try:
                        seller.append(data.find('span', {'class':'T0rpy-LEwYNQifsgB-3SQw== pC8DMVkBZGW7-egObcWMFQ== flip'}).get_text()) #retrieve data seller from the website
                except:
                        seller.append(None) 
                try:
                        city.append(data.find('span', {'class':'pC8DMVkBZGW7-egObcWMFQ== flip'}).get_text()) #retrieve data city of the seller from the website
                except:
                        city.append(None) 
                try:
                        sold.append(data.find('span', {'class':'se8WAnkjbVXZNA8mT+Veuw=='}).get_text()) # retrieve data of number product sold from the website
                except:
                        sold.append(None) 
                try:
                        rating.append(data.find('span', {'class':'_9jWGz3C-GX7Myq-32zWG9w=='}).get_text()) #retrieve data rating from the website
                except:
                        rating.append(None)

driver.close()

In [4]:
#Verify that all columns have the same number of rows
print(len(product))
print(len(price))
print(len(seller))
print(len(city))
print(len(sold))
print(len(rating))

1125
1125
1125
1125
1125
1125

In [5]:
# Import Library Panda
import pandas as pd

#create DataFrame
df = pd.DataFrame()

df['Product'] = product
df['Price']   = price
df['Seller']  = seller
df['City']    = city
df['Rating']  = rating
df['Sold']    = sold

In [6]:
df

,Product,Price,Seller,City,Rating,Sold
0,Seblak Sultan instant,Rp14.000,Sultan Meat Shop,Medan,None,250+ terjual
1,Seblak Instan Premium Bangsatria,Rp21.000,Foodstocks,Jakarta Selatan,None,100+ terjual
2,"Kylafood Seblak Rempah Autentik 115gr, Seblak ...",Rp13.500,Brother Meat Shop,Jakarta Selatan,None,250+ terjual
3,Paket Isi 6 Cuanki Instan Lakoca | Latagor | S...,Rp93.840,Lakoca Official Shop,Cimahi,None,50+ terjual
4,Seblak Instant Viral Khas Sajodo Snack & Food,Rp24.500,Foodstocks,Jakarta Selatan,None,4 terjual
...,...,...,...,...,...,...
1120,Basreng Sangarrr,Rp19.900,The Little Snacks,Tangerang Selatan,None,1rb+ terjual
1121,Baso Aci Instan Culametan khas Garut ( isi 6 ),Rp4.500,CUANKI CULAMETAN,Kab. Garut,None,4rb+ terjual
1122,Basreng Sangarrr,Rp19.900,The Little Snacks,Tangerang Selatan,None,3rb+ terjual
1123,cuanki lidah 150 pcs toping seblak baso aci,Rp35.111,CUANKI CULAMETAN,Kab. Garut,None,500+ terjual
1124,Makaroni Ceu Wewei 1kg,Rp65.000,Makaroni Ceu Wewei,Kab. Tangerang,None,60+ terjual

## Data Transform

### Exploratory Data Analysis

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  1125 non-null   object
 1   Price    1125 non-null   object
 2   Seller   1125 non-null   object
 3   City     1125 non-null   object
 4   Rating   414 non-null    object
 5   Sold     714 non-null    object
dtypes: object(6)
memory usage: 52.9+ KB

total rows is 1140

Data type consistency: from data type, we need to change price, rating and sold to be integer/float

Data incompleteness: The "Rating" column has 724 rows of missing data, while the "Sold" column has 400 rows of missing data. This indicates that the data is incomplete.

### Data Cleaning

In [8]:
df['Price'] = df['Price'].str.replace('\D', '', regex=True).astype(int) #change datatype price to integer

In [9]:
df['Rating'] = df['Rating'].astype(float) #change datatype price to integer

In [10]:
df.Sold = df.Sold.str.replace('rb','000', regex=False) #change rb(thousand) to be 000
df['Sold'] = df['Sold'].str.replace('\D', '', regex=True)  #remove 'terjual'
df["Sold"]= df["Sold"].fillna(0).astype(int) #change datatype sold to integer

In [11]:
df.info() #verify that all cleaning processes were successful

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  1125 non-null   object
 1   Price    1125 non-null   int32
 2   Seller   1125 non-null   object
 3   City     1125 non-null   object
 4   Rating   414 non-null    float64
 5   Sold     1125 non-null   int32
dtypes: float64(1), int32(2), object(3)
memory usage: 44.1+ KB

In [12]:
df.describe()

              Price      Rating          Sold
count  1.125000e+03  414.000000   1125.000000
mean   3.651113e+04    4.891063    236.650667
std    1.882069e+05    0.195078    889.513940
min    3.500000e+02    3.500000      0.000000
25%    8.520000e+03    4.800000      0.000000
50%    1.600000e+04    5.000000      6.000000
75%    2.580000e+04    5.000000    100.000000
max    5.452000e+06    5.000000  10000.000000

In [13]:
df

,Product,Price,Seller,City,Rating,Sold
0,Seblak Sultan instant,14000,Sultan Meat Shop,Medan,NaN,250
1,Seblak Instan Premium Bangsatria,21000,Foodstocks,Jakarta Selatan,NaN,100
2,"Kylafood Seblak Rempah Autentik 115gr, Seblak ...",13500,Brother Meat Shop,Jakarta Selatan,NaN,250
3,Paket Isi 6 Cuanki Instan Lakoca | Latagor | S...,93840,Lakoca Official Shop,Cimahi,NaN,50
4,Seblak Instant Viral Khas Sajodo Snack & Food,24500,Foodstocks,Jakarta Selatan,NaN,4
...,...,...,...,...,...,...
1120,Basreng Sangarrr,19900,The Little Snacks,Tangerang Selatan,NaN,1000
1121,Baso Aci Instan Culametan khas Garut ( isi 6 ),4500,CUANKI CULAMETAN,Kab. Garut,NaN,4000
1122,Basreng Sangarrr,19900,The Little Snacks,Tangerang Selatan,NaN,3000
1123,cuanki lidah 150 pcs toping seblak baso aci,35111,CUANKI CULAMETAN,Kab. Garut,NaN,500
1124,Makaroni Ceu Wewei 1kg,65000,Makaroni Ceu Wewei,Kab. Tangerang,NaN,60

In [14]:
df.to_csv("seblak_tokopedia.csv")

## Data Loading

In [15]:
import psycopg2
from psycopg2 import sql

# PostgreSQL connection details
db_user = "postgres"
db_password = "postgres"
db_host = "localhost"
db_port = "5432"

# Create a connection to the PostgreSQL database
connection = psycopg2.connect(
    user=db_user,
    password=db_password,
    host=db_host,
    port=db_port,
    database="seblak_tokopedia"
)

In [16]:
cursor = connection.cursor()
connection.autocommit = True

q = sql.SQL('''CREATE TABLE IF NOT EXISTS data_seblak_instan (
    id SERIAL PRIMARY KEY,
    product TEXT,
    price INTEGER,
    seller VARCHAR(100),
    city TEXT,
    rating FLOAT,
    sold INTEGER
);''')

cursor.execute(q)

In [17]:
tuple_data = tuple(df.itertuples(index=False, name=None))

In [18]:
insert_query = "INSERT INTO data_seblak_instan (product, price, seller, city, rating, sold) VALUES (%s,%s,%s,%s,%s,%s)"

cursor.executemany(insert_query, tuple_data)

connection.commit()